/*.App {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100vh;
  grid-template-areas: "menu content";
}*/
.App {
  /*background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: row;*/

  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px auto;
  grid-template-areas: 
  "menu"
  "content";
}
