.rockets-container {
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../../assets/rock.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }